 .uselayout-div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    max-width: 400px;
    margin: 50px auto;
  }
  
  .uselayout-h1 {
    font-size: 24px;
    color: #222; 
  }
  
  .uselayout-p {
    font-size: 18px;
    color: #574f4f; 
  }
  